<%-include("dashboardpartials/dheader"); -%>

<h2 class="common-heading-sm">All Messages</h2>

<div id="messages" class="messages">
  <% allmessage.forEach( message =>{ %>
  <div class="message-card border myCheckbox" id="myDiv">
    <input type="checkbox" class="checkbox" value=<%=message.id%> /> Seen
    <h6><strong> FullName: </strong> <%=message.fullname %></h6>
    <p><strong>Email: </strong><%=message.email2 %></p>
    <details>
      <summary><strong>Messages </strong></summary>
      <%=message.message %>
    </details>
  </div>

  <% }) %>
</div>
<div id="checked-section" class="d-flex justify-content-between"> checked section</div>

<script type="text/javascript">
  const mainDiv = document.getElementById("messages");
  const checkboxes = document.querySelectorAll(".checkbox");
  const checkedSection = document.getElementById("checked-section");

  checkboxes.forEach(checkbox => {
    checkbox.addEventListener("click", () =>{
      const item = checkbox.parentNode;
      console.log(item);
    if (checkbox.checked ) {      
      checkedSection.appendChild(item.cloneNode(true));
    }
    else{
      checkedSection.removeChild(item);
    }
   
  })
  });
</script>
