<%-include("partials/header"); -%>


<div class="container-fluid-home">


  <% allposts.forEach(function(post, idx){ %>
  <% if (idx < 12 ) { %>
  <div class="question-div">
    <a href="/allposts/<%=post._id%>" class="question-link">  <h6>
      

  <em style="color:#975ab6; font-weight:900">Q.N:=> </em> <%=post.posttitle%> </h6> </a>


      
  </div>

  <div class="answer">
    <p hidden> <%=post.postbody%> </p>
  </div>
  <% } %>
  <% }); %>


  <% if (allposts.length > 1 ) { %>
  <div class="showmorebtn btn btn-info " id="show_button" onclick="shownext()" >
  show More
  </div>




  <div class="showmore" id="myshowmorediv">
    <% allposts.forEach(function(post, idx){ %>

    <% if (idx > 8 ) { %>
    <div class="question-div">
      <a href="/allposts/<%=post._id%>" class="question-link"> <h6> <strong> Q.N:</strong> <%=post.posttitle%> </h6> </a>
    </div>

    <div class="answer">
      <p hidden> <%=post.postbody%> </p>
    </div>
    <% } %>



    <% }); %>
    <%   } %>

  </div>










</div>


<script type="text/javascript">
  function shownext() {
  document.getElementById("myshowmorediv").classList.remove("showmore");
  document.getElementById("show_button").classList.add("hide");

  }


</script>
