<%-include("partials/header"); -%>






<div class="container-fluid-home">
  <h2 class="home-heading"> Welcome to Study Center </h2>


  <div class=" home-nav">

    <a href="/topics/related/random" class="btn btn-primary btn-sm related-btn"> Discussions </a>


     <a href="/topics/related/c#" class="btn btn-primary btn-sm related-btn "> C# </a>



 <a href="/topics/related/html" class="btn btn-primary btn-sm related-btn "> HTML </a>




     <a href="/topics/related/database" class="btn btn-primary btn-sm related-btn "> Database </a>



  </div>

</div>






<div class="container">
  <h3 class="Frequently"> Most Frequently viewed Answers! </h3>
</div>


<div class="container-fluid-home">

  <form action="/delete" method="post" class="home-container">
    <% allposts.forEach(function(post){ %>

    <div class="question-div">
      <a href="/allposts/<%=post._id%>" class="question-link" <h6> <strong> Q.N:</strong> <%=post.posttitle%> </h6> </a>
    </div>

    <div class="answer">
      <p hidden> <%=post.postbody%> </p>
    </div>

    <% }) %>

  </form>





</div>









<%-include("partials/footer"); -%>
