
<%-include("partials/header"); -%>

<div class="container-fluid">
  <h3> Welcome </h3>

  <h1> userdetails : <%= userdetails %></h1>
  <strong> <%= user %>   </strong>

  <h3>User role: <%= userrole %></h3>
</div>






<%-include("partials/footer"); -%>
